<section class="content">
  <div class="container-fluid py-5 min-vh-100">
    <h1 class="mb-4 mt-5 ">Доходы</h1>
    <div class="d-flex flex-lg-wrap  align-items-center gap-3 mb-5">
      <div class="border border-light-subtle rounded-3 p-3">
        <h3 class="mb-3 fw-bold">Депозиты</h3>
        <button type="button" class="btn btn-primary me-1">Редактировать</button>
        <button type="button" class="btn btn-danger me-5">Удалить</button>
      </div>
      <div class="border border-light-subtle rounded-3 p-3">
        <h3 class="mb-3 fw-bold">Зарплата</h3>
        <button type="button" class="btn btn-primary me-1">Редактировать</button>
        <button type="button" class="btn btn-danger me-5">Удалить</button>
      </div>
      <div class="border border-light-subtle rounded-3 p-3">
        <h3 class="mb-3 fw-bold">Сбережения</h3>
        <button type="button" class="btn btn-primary me-1">Редактировать</button>
        <button type="button" class="btn btn-danger me-5">Удалить</button>
      </div>
      <div class="border border-light-subtle rounded-3 p-3">
        <h3 class="mb-3 fw-bold">Инвестиции</h3>
        <button type="button" class="btn btn-primary me-1">Редактировать</button>
        <button type="button" class="btn btn-danger me-5">Удалить</button>
      </div>
      <div class="border border-light-subtle rounded-3 p-3 d-flex align-items-center justify-content-center" style="width: 320px; height: 120px">
        <a href="/create-income" class="nav-link tex">+</a>
      </div>
    </div>
  </div>
</section>
