@font-face {
    font-family: RobotoRegular;
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: RobotoMedium;
    src: url("fonts/Roboto-Medium.ttf");
}


body{
    font-family: RobotoRegular ,sans-serif;
}

h1{
    font-family: RobotoMedium ,sans-serif;
}
a{
    cursor: pointer;
}

.dropdown-menu{
    transform: translate3d(0px, 40px, 0px) !important;
    padding: 0;
    margin: 0;
}

.btn-main{
    width: 100px;
}
