<section class="content">
    <div class="container-fluid py-5 min-vh-100">
        <h1 class="mb-4 mt-5 ">Создание дохода</h1>
        <div class="d-flex flex-wrap  align-items-center gap-3 mt-5 col-lg-4">
            <select type="text" name="name-income" id="typeIncome" class="form-control">
                <option disabled selected value="disabled">Тип...</option>
                <option value="1">Доход</option>
                <option value="2">Расход</option>
            </select>
            <span id="typeIncome-error" class="error invalid-feedback">Пожалуйста, выберите тип</span>
            <select type="text" id="categoryIncome" class="form-control">
                <option disabled selected value="disabled">Категория...</option>
            </select>
            <span id="categoryIncome-error" class="error invalid-feedback">Пожалуйста, выберите Категорию</span>
            <input type="number" name="name-income" id="sumIncome" placeholder="Сумма в $..." class="form-control">
            <span id="sumIncome-error" class="error invalid-feedback">Пожалуйста, введите сумму</span>
            <input type="date" name="name-income" id="dateIncome" placeholder="Дата..." class="form-control">
            <span id="dateIncome-error" class="error invalid-feedback">Пожалуйста, выберите дату</span>
            <input type="text" name="name-income" id="commentIncome" placeholder="Комментарий..." class="form-control">
            <span id="commentIncome-error" class="error invalid-feedback">Пожалуйста, введите комментарий</span>
            <button type="button" class="btn btn-success me-1" id="saveButton">Сохранить</button>
            <button type="button" class="btn btn-danger me-5" id="cancelButton">Отмена</button>
        </div>
    </div>
</section>
