<section class="content">
    <div class="container-fluid py-5 min-vh-100">
        <h1 class="mb-4 mt-5 ">Доходы</h1>
        <div class="d-flex flex-lg-wrap  align-items-center gap-3 mb-5">
            <div class="border border-light-subtle rounded-3 p-3">
                <h3 class="mb-3 fw-bold">Депозиты</h3>
                <a href="edit-income" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Удалить
                </button>
            </div>
            <div class="border border-light-subtle rounded-3 p-3">
                <h3 class="mb-3 fw-bold">Зарплата</h3>
                <a href="edit-income" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Удалить
                </button>
            </div>
            <div class="border border-light-subtle rounded-3 p-3">
                <h3 class="mb-3 fw-bold">Сбережения</h3>
                <a href="edit-income" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Удалить
                </button>
            </div>
            <div class="border border-light-subtle rounded-3 p-3">
                <h3 class="mb-3 fw-bold">Инвестиции</h3>
                <a href="edit-income" class="btn btn-primary me-1">Редактировать</a>
                <button type="button" class="btn btn-danger me-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Удалить
                </button>
            </div>
            <div class="border border-light-subtle rounded-3 p-3 d-flex align-items-center justify-content-center"
                 style="width: 320px; height: 120px">
                <a href="/create-income" class="nav-link tex">+</a>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="d-flex flex-column justify-content-center p-4">
                            <h5 class="modal-title" id="exampleModalLabel">Вы действительно хотите удалить категорию?
                                Связанные доходы будут удалены навсегда.</h5>
                            <div class="d-flex gap-2 justify-content-center align-items-center m-3">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Да, удалить
                                </button>
                                <button type="button" class="btn btn-danger">Не удалять</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
